.slick-list {
    max-height: 40rem;
}

.tab-button.active {
    background: #507736 !important;
    color: #F8F8F8 !important;
    font-weight: normal;
}

.tab-button {
    padding: 14px;
    border-radius: 15px;
    background: transparent !important;
    color: #616161 !important;
    font-weight: normal;
    min-width: initial !important;
}

.product-slider-image {
    object-fit: cover;
    /* border: 1px solid #B0B1B3; */
 
}

.product-slider-image.active {
    width: 100%;
    border-radius: 30px;
    max-width: 450px;
}

.product-slider-image.image-sliders {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #B0B1B3;
}

.slick-dots.product-slider-thumb li {
    width: 50px;
    height: 50px;
}

.slick-dots.product-slider-thumb li {
    bottom: -48px;
}

